<div style="max-width: 900px;margin: auto;font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif">
    <!-- Header -->
    <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
        <tr>
            <td colspan="2">
                <table width="100%">
                    <tr>
                        <td width="25%" style="">
                            <img src="https://media.licdn.com/dms/image/C4D0BAQE6oogIdcWViw/company-logo_200_200/0?e=2159024400&v=beta&t=ee2DuUCEsNddc750rA3TusEN0iyI5i6m8QykG-5qffs" style="width:190px; max-width:300px;">
                        </td>
                        <td width="75%" style="padding-top: 18px; padding-right:30px; text-align: right;">
                            <span style="font-size:18px; font-weight:bold; color:#555555;">ORDEN DE COMPRA</span>
                            <br>
                            <span style="font-weight:bold; color:#555555;">Codigo:</span> <span>FOR-3.20-012</span>
                            <br>
                            <span style="font-weight:bold; color:#555555;">Versión:</span> <span> 1.0</span>
                            <br>
                            <span style="font-weight:bold; color:#555555;">Fecha de Vigencia:</span><span> 2018-01-01</span>
                        </td>
                    </tr>
                    <tr style="background:#f2f2f2;">
                        <td width="25%" style="background:#0e144e; padding:15px ;">
                            <span style="font-size:16px; font-weight:bold; color:#fff;">Número de Orden</span>
                            <br>
                        </td>
                        <td width="75%" style="padding-right:30px; text-align: right;">
                            <span style="font-weight:bold; color:#000;">TIPO:</span> <span>Orden / Compra</span>
                            <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- formulario datos personales -->
    <div style="padding-top:20px; padding:15px">
        <table width="98%">
            <tr>
                <td width="32.66%" id="table-compra">Entidad / Compañia</td>
                <td width="32.66%">Enovelsoluciones</td>
            </tr>
            <tr>
                <td width="32.66%" id="table-compra">Persona de Contacto</td>
                <td width="32.66%">Telefono</td>
                <td width="32.66%">4643215</td>
            </tr>
            <tr>
                <td width="32.66%" id="table-compra">Email</td>
                <td width="32.66%">enovel@outlok.com</td>
            </tr>
            <tr>
                <td width="32.66%" id="table-compra">Ciudad</td>
                <td width="32.66%">Paginas Enviadas</td>
                <td width="32.66%">xxxxxxxxxxx</td>
            </tr>
        </table>
    </div>

    <div style="padding:10px;">
        <div class="title-form background">
            <div>
                <h4>REEMBOLSABLE</h4>
                <hr width="50px">
            </div>
            <table width="98%">
                <tr style="text-align: center;">
                    <!-- TITULOS -->
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <label class="container">SI
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <label class="container">NO
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="title-form" style="border:2px solid #f2f2f2; ">
            <h4>JOBS N.</h4>
            <hr width="50px">
            <textarea name="" id="" cols="120" rows="8" placeholder="DESCRIPCIÓN DEL JOB:"></textarea>
        </div>
    </div>
    <br>
    <div style="border:2px solid #f2f2f2; padding:10px;">
        <div class="title-form">
            <h4>SI NO ES REEMBOLSABLE, % <br> QUE ASUME CADA UNIDAD DE NEGOCIO:</h4>
            <hr width="50px">
        </div>
        <!-- TABLA -->
        <div style="text-align:left;">
            <table id="table" style="width: 100%;max-width: 100%;">
                <tr id="tr">
                    <th style=" font-weight: bold;" id="th" width="11,5%">CECO</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">NOMBRE</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">N.JOB</th>
                    <th style=" font-weight: bold;" id="th" width="11,5%">% ASUMIDO</th>
                </tr>
                <tr id="tr">
                    <td style="color:#555555;" id="td">1601</td>
                    <td style="color:#555555;" id="td">Jorge Ramirez</td>
                    <td style="color:#555555;" id="td">0</td>
                    <td style="color:#555555;" id="td">%</td>
                </tr>
            </table>
        </div>
    </div>
    <br>

    
    <hr style="height: 3px; border: solid 1px #fff; background-color: #3F51B5;;">
    <!-- SUBTABLA -->
    <div style="padding-top:20px; padding:15px;" class="background">
        <table width="98%">
            <tr>
                <td width="24.5%">
                    <span id="table-compra">FECHA DE SOLICITUD:</span>
                    <span> 29/05/2019</span>
                </td>
                <td width="24.5%">
                    <span id="table-compra">TIEMPO DE ENTREGA:</span>
                    <span> 00000000</span>
                </td>
            </tr>
            <tr>
                <td width="24.5%">
                    <span id="table-compra">JUSTIFICACIÓN DEL GASTO:</span>
                    <span> 00000000</span>
                </td>
                <td width="24.5%" >
                    <span id="table-compra">RUBRO DE PRESUPUESTO:</span>
                    <span> 00000000</span>
                </td>
            </tr>
        </table>
    </div>
    <!-- TABLA2 -->
    <div style="border: 2px solid #f2f2f2; padding:20px;">
        <div style="text-align:left;">
            <table id="table" style="width: 100%;max-width: 100%;">
                <tr id="tr">
                    <th style=" font-weight: bold;" id="th" width="6.33%">Item</th>
                    <th style=" font-weight: bold;" id="th" width="22.33%">Elemento o servicio <br>Requerido</th>
                    <th style=" font-weight: bold;" id="th" width="30.33%">ESPECIFICACIONES <br>(Datos técnicos, dimensiones, referencias)</th>
                    <th style=" font-weight: bold;" id="th" width="6.33%">Cantidad</th>
                    <th style=" font-weight: bold;" id="th" width="6.33%">Valor Unitario</th>
                    <th style=" font-weight: bold;" id="th" width="6.33%">Valor Total</th>
                </tr>
                <tr id="tr">
                    <td style="color:#555555;" id="td">01</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">23</td>
                    <td style="color:#555555;" id="td">$23.000</td>
                    <td style="color:#555555;" id="td">$00,0</td>
                </tr>
                <tr id="tr">
                    <td style="color:#555555;" id="td">01</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">23</td>
                    <td style="color:#555555;" id="td">$23.000</td>
                    <td style="color:#555555;" id="td">$00,0</td>
                </tr>
                <tr id="tr">
                    <td style="color:#555555;" id="td">01</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">Exterior</td>
                    <td style="color:#555555;" id="td">23</td>
                    <td style="color:#555555;" id="td">$23.000</td>
                    <td style="color:#555555;" id="td">$00,0</td>
                </tr>
            </table>
        </div>
        <hr style="height: 3px;border: solid 1px #fff;background: #0e144e;">
        <div style="text-align: -webkit-right;">
            <table style="width: 40%;max-width: 100%; background:#0e144e;">
                <tr>
                    <td style="text-align:right; color: #ffffff;" width="25%">Subtotal:</td>
                    <td style="text-align:right; color: #ffffff; padding-right: 25px;" width="15%">$0.00</td>
                </tr>
                <tr>
                    <td style="text-align:right; color: #ffffff;" width="25%">IVA(19%):</td>
                    <td style="text-align:right; color: #ffffff; padding-right: 25px;" width="15%">0.00</td>
                </tr>
                <tr>
                    <td style="text-align:right; color: #ffffff; font-weight: bold;" width="25%">TOTAL:</td>
                    <td style="text-align:right; color: #ffffff; padding-right: 25px;" width="15%">$0.00</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- FIRMAS -->
    <div style="background:#f2f2f2;">
        <div style="padding-top:20px; padding:15px; text-align:center;">
            <table width="98%">
                <tr>
                    <td width="49%">
                        <span class="background" id="table-compra">Solicitante </span><br><br>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Juan_Peron_Signature.svg/1204px-Juan_Peron_Signature.svg.png" width="18%%" alt=""><br>
                        <span>SOLICITANTE  /</span><br>
                        <span>Firma de quien Solicita</span>
                    </td>
                    <td width="49%">
                        <span class="background" id="table-compra">Gerente de unidad de negocio </span><br><br>
                        <img src="https://pngimage.net/wp-content/uploads/2018/06/firmas-digitales-png-1.png" width="35%%" alt=""><br>
                        <span>JEFE DIRECTO  /</span><br>
                        <span>Firma de quien Aprueba</span>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div style="text-align:center; padding:15px;">
            <span class="background" id="table-compra">Nombre Solicitante</span><br><br>
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Firma_Soledad_Pastorutti.png" width="15%%" alt=""><br>
            <span>DIEGO VILLANUEVA /</span><br>
            <span>Firma de quien Aprueba</span>
        </div>
    </div>


    <!-- FOOTER  -->
    <div style="padding-top: 50px; padding-bottom: 10px; ">
        <span style="color:#555555; font-weight: bold;">DATOS ADICIONALES:</span>
        <br>
        <span style="color:#555555; font-size:12px;">LA FACTURA DEBE SER EXPEDIDA A NOMBRE DE ARAÚJO IBARRA CONSULTORES INTERNACIONALES S.A.S.; NIT: 901.139.615-6</span>
        <br>
        <span style="color:#555555; font-size:12px;">FORMA DE PAGO:LA POLITÍCA DE LA COMPAÑÍA ES PAGO A 30 DÍAS A PARTIR DE LA RADICACIÓN DE LA FACTURA</span>
        <br>
        <span style="color:#555555; font-weight: bold;">GARANTIA:</span>
         <br>
        <span style="color:#555555; font-size:12px;">Los formatos deben ser diligenciados completamente de otra forma será devuelta</span>
    </div>
    <!-- End Main Content -->
</div>